:root {
  --primary: #e1e07b;
  --second: #eba3f0;
}

* {
  background-color: var(--primary);
}

nav {
  margin: 0;
  padding: 10px 0 10px 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  float: left;
}

img {
  height: 250px;
  width: 150px;
}

.card {
  padding: 5px 10px 5px 10px;
  margin: 75px 25px 25px 25px;
}

.line {
  font-family: "Times New Roman", Times, serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e827f6;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #e1e07b, #eba3f0);
}
